@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color-light: #ffffff;
    --text-color-light: #000000;
    --bg-color-dark: #18181b;
    --text-color-dark: #f7fafc;
}

html {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

html.dark {
    background-color: black;
    color: white;
}